<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Trainers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>

  <style>
    .wrapper {
    text-align: center;
    }

    .button {
    position: absolute;
    top: 50%;
      }

  </style>
<body>

<h1 style ="text-align:center;">Change Pre-Registration Date</h1>

<form  name = "ChangePreRegistrationDate" action = "http://127.0.0.1:5000/PreRegistrationDateChangeSuccess" onsubmit="return validateForm()" method = "POST">

<div style="text-align: center;">
<form action="http://127.0.0.1:5000/PreRegistrationDateChangeSuccess">
  <label for="fname">Course ID:</label>
  <input type="text" id="fname" name="courseid"><br><br>

  <label for="lname">Class ID:</label>
  <input type="text" id="lname" name="classid"><br><br>

  <label for="lname">Trainer ID:</label>
  <input type="text" id="lname" name="trainerid"><br><br>

  <label for="lname">Registration Start:</label>
  <input type="text" id="lname" name="regStart"><br><br>

  <label for="lname">Registration End:</label>
  <input type="text" id="lname" name="regEnd"><br><br>

  <input type="submit" value="Submit">
</form> 
</div>

<script>
function validateForm() {
  var CourseID = document.forms["ChangePreRegistrationDate"]["courseid"].value;
  var ClassID = document.forms["ChangePreRegistrationDate"]["classid"].value;
  var TrainerID = document.forms["ChangePreRegistrationDate"]["trainerid"].value;
  var RegistrationStart = document.forms["ChangePreRegistrationDate"]["regStart"].value;
  var RegistrationEnd = document.forms["ChangePreRegistrationDate"]["regEnd"].value;
  var ErrorMessage = ""

  if (CourseID == "") {
    ErrorMessage += "Course ID must be filled out \n"
    return false;
  }

  if (ClassID == "") {
    ErrorMessage += "Class ID must be filled out \n"
  }

  if (TrainerID == "") {
    ErrorMessage += "Trainer ID must be filled out \n"
  }

  if (RegistrationStart == "") {
    ErrorMessage += "Registration Start must be filled out \n"
  }

  if (RegistrationEnd == "") {
    ErrorMessage += "Registration End must be filled out \n"
  }

  if(ErrorMessage !="")
  {
    alert(ErrorMessage);
    return false;
  }



}
</script>
  
</body>
</html>
