<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Trainers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
<body>

<h1 style ="text-align:center;">Courses</h1>


<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Course Name</th>
        <th scope="col">Class</th>
        <th scope="col">Sections</th>
        <th scope="col">Capacity</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>ES112 - Intro to Engineering</td>
        <td>
            G1
        </td>
        <td>
          <button type="button" class="btn btn-info">View</button>
        </td>
        <td>
          4/20
        </td>
      </tr>
      <tr>
        <td>ES113 - Engineering Fundamentals</td>
        <td>
             G2
        </td>
        <td>
          <button type="button" class="btn btn-info">View</button>
        </td>
        <td>
          5/20
        </td>
      </tr>
      <tr>
        <td>ES114 - Engineering Mathematics 1   </td>
        <td>
             G3
        </td>
        <td>
          <button type="button" class="btn btn-info">View</button>
        </td>
        <td>
          6/20
        </td>
      </tr>
    </tbody>
  </table>
  
  
</body>
</html>