<!--First, based on the trainer's ID, the page should load the courses that the trainer is teaching-->
<!--Next, clicking view Course should bring the trainer to another page that allows them to edit the Sections-->
<!--To edit a different Course, they will have to press a return to homepage button-->
<!--Within each Section edit page, they should be able to add and delete Sections-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- Vue.JS-->
   <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  </head>
<body>
<!-- NAV BAR -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">LMS Engineer</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="Engineer_HomePage.html">Homepage</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="Engineer_viewAllCourses.html">Enroll into Courses</a>
        </li>
        <li class="nav-item">
          <a class="dropdown-item" href="../">Change Demo Role</a>
        </li>
        </ul>
    </div>
    </nav>
  <!-- END OF NAV BAR -->
<div id="app" class="container">
  <h1 style ="text-align:center;">Welcome Home!</h1>

  <h2 style ="text-align:center;">User Name: {{user_name}}</h2> <br><br>
  <h3 style ="text-align:center;">Courses Enrolled</h3>
  <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Course Name</th>
          <th scope="col">Class</th>
          <th scope="col">Course Status</th>
          <th scope="col">View Sections</th>
        </tr>
      </thead>
      <tbody id="uclass_list_enrolled">
      </tbody>
    </table><br>
    <h3 style ="text-align:center;">Courses Completed</h3>
  <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Course Name</th>
          <th scope="col">Class</th>
          <th scope="col">Course Status</th>
          <th scope="col">View Sections</th>
        </tr>
      </thead>
      <tbody id="uclass_list_completed">
      </tbody>
    </table> <br>
    <div id='message'></div>
    <h3 style ="text-align:center;">Courses Pending Enrolment</h3>
  <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Course Name</th>
          <th scope="col">Class</th>
          <th scope="col">Course Status</th>
          <th scope="col">Withdraw from Course</th>
        </tr>
      </thead>
      <tbody id="uclass_list_pending">
      </tbody>
    </table>
    <div style ="text-align:center;">
      <a href='Engineer_viewAllCourses.html'><button type="button" class="btn btn-info">Enroll for New Courses</button></a>
    </div>
</div>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        'courses': [],
        'classes': [],
        'user_name' : 'Richard',
        'user_id': '1',
        'course_status_list': []
      },
      methods: {
        getAllCourses: async function(){
            console.log(this.user_id)
            let url = 'http://3.23.147.209:5000/users/getAllCourses?user_id=' + this.user_id
            console.log(url)
            const response = await fetch(url, {method: 'GET'});

            if(!response.ok){
              console.log("Error in retrieving getAllCourses")
            }
            else {
              const data = await response.json();
              console.log(data);
              document.getElementById('uclass_list_completed').innerHTML = ''
              document.getElementById('uclass_list_enrolled').innerHTML = ''
              document.getElementById('uclass_list_pending').innerHTML = ''
              let completed_count = 0
              let enrolled_count = 0
              let pending_count = 0
              let uclass_list_enrolled = document.getElementById('uclass_list_enrolled')
              let uclass_list_completed = document.getElementById('uclass_list_completed')
              let uclass_list_pending = document.getElementById('uclass_list_pending')
              for (uclass of data["courses"]){
                ucourse_name = uclass['course_id']
                uclass_id = uclass['class_id']
                ucourse_status = uclass['course_status']
                if (ucourse_status == 'completed'){
                    uclass_list_completed.innerHTML += 
                    `
                    <tr>
                    <td>`+ucourse_name+`</td>`+`
                    <td>`+uclass_id+`</td>`+`
                    <td>`+ucourse_status+`</td>`+`
                  <td>`+`<a href='Engineer_ViewSections.php?course_id=`+ucourse_name+`&class_id=`+uclass_id+`'><button type="button" class="btn btn-warning">View Sections</button></td></a>`+`
                  </tr>
                    `
                    completed_count++
                }
                if (ucourse_status == 'enrolled'){
                    uclass_list_enrolled.innerHTML += 
                    `
                    <tr>
                    <td>`+ucourse_name+`</td>`+`
                    <td>`+uclass_id+`</td>`+`
                    <td>`+ucourse_status+`</td>`+`
                    <td>`+`<a href='Engineer_ViewSections.php?course_id=`+ucourse_name+`&class_id=`+uclass_id+`'><button type="button" class="btn btn-warning">View Sections</button></td></a>`+`
                  </tr>
                    `
                    enrolled_count++
                }
                if (ucourse_status == 'pending'){
                    uclass_list_pending.innerHTML += 
                    `
                    <tr>
                    <td>`+ucourse_name+`</td>`+`
                    <td>`+uclass_id+`</td>`+`
                    <td>`+ucourse_status+`</td>`+`
                    <td><button type="button" class="btn btn-danger" onclick="withdrawFromCourse('`+ucourse_name+`','`+uclass_id+`')">Withdraw</button></td>
                    </tr>
                    `
                    pending_count += 1
                }

              }
              if (completed_count == 0) {
                  uclass_list_completed.innerHTML += 
                    `
                    <tr>
                    <td colspan='4' style ="text-align:center;">You have no courses completed.</td>`+`
                  </tr>`
              }
              if (enrolled_count == 0) {
                  uclass_list_enrolled.innerHTML += 
                    `
                    <tr>
                    <td colspan='4' style ="text-align:center;">You have no courses enrolled.</td>`+`
                  </tr>`
              }
              if (pending_count == 0) {
                  uclass_list_pending.innerHTML += 
                    `
                    <tr>
                    <td colspan='4' style ="text-align:center;">You have no courses pending enrolment from HR.</td>`+`
                  </tr>`
              }
            }
        },


      },
          
      created: function() {
        this.getAllCourses();
      }
    });

    async function withdrawFromCourse(course_id, class_id){
      let url = 'http://3.23.147.209:5000/users/withdrawFromCourse?user_id=' + app.user_id + '&course_id=' + course_id + '&class_id=' + class_id
      const response = await fetch(url, {method: "GET"});
      if(!response.ok){
        console.log("Error calling withdrawFromCourse")
      }
      else {
        const data = await response.json()
        let message = document.getElementById("message")
        message.innerHTML = `
        <div class="alert alert-warning" role="alert">
          `+data['message']+`
        </div>`
        setTimeout(function(){
          window.location.replace("Engineer_HomePage.html");
        }, 3000)
      }
    }

  </script>
  
  
</body>
</html>