<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Learner</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  
  <style>
      .container{
        border: 5px solid #FFFF00;
        padding: 250px ;
      }
  </style>
 

<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="#">Learning Management System</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Page 1-1</a></li>
                  <li><a href="#">Page 1-2</a></li>
                  <li><a href="#">Page 1-3</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <h1 style ="text-align:center;">Welcome Learner</h1>
    
      <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-block">
                        <a href="https://www.w3schools.com/">
                            <img src="checklist.png" alt="HTML tutorial" style="width:250px;height:300px;">
                            </a>
                        
                    </div>
                </div>
            </div>
         
           




            <div class="col-sm-6">
                <div class="card">
                    <div class="card-block">
                        <a href="https://www.w3schools.com/">
                            <img src="images.png" alt="HTML tutorial" style="width:250px;height:300px;" >
                        </a>
                        
                    </div>
                </div>
            </div>
           
       
           
           
        </div>
    </div>




</body>
</html>



