<!--First, based on the trainer's ID, the page should load the courses that the trainer is teaching-->
<!--Next, clicking view Course should bring the trainer to another page that allows them to edit the Sections-->
<!--To edit a different Course, they will have to press a return to homepage button-->
<!--Within each Section edit page, they should be able to add and delete Sections-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Trainers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- Vue.JS-->
   <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  </head>
<body>

<div id="app" class="container">
  <h1 style ="text-align:center;">Courses</h1>

  <h2 style ="text-align:center;">Trainer Name: {{trainer_name}}</h2>
  <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Course Name</th>
          <th scope="col">Class</th>
          <th scope="col">Sections</th>
          <th scope="col">Capacity</th>
        </tr>
      </thead>
      <tbody id="tclass_list">
      </tbody>
    </table>
</div>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        'courses': [],
        'trainer_id': 2,
        'trainer_name': "No trainer assigned"
      },
      methods: {
        getClassDetails: async function(){
          let url = 'http://localhost:5000/trainers/getClassDetails?trainer_id=' + this.trainer_id
          console.log(url)
          let tclass_list = document.getElementById("tclass_list")
          tclass_list.innerHTML = ''
          const response = await fetch(url, {method: 'GET'});

            if(!response.ok){
              console.log("Error in retrieving getClassDetails")
            }
            else {
              const data = await response.json();
              let tclass_list = document.getElementById("tclass_list")
              for (tclass of data["courses"]){
                tclass_name = tclass['name']
                tcourse_id = tclass_name.split(" - ")[0]
                tclass_id = tclass['class']
                tclass_capacity = tclass['capacity']
                link = 'Trainer_CourseView.php?course_id=' + tcourse_id + '&class_id=' + tclass_id + '&trainer_name=' + this.trainer_name
                console.log(link)
                tclass_list.innerHTML += `
                  <tr>
                    <td>`+tclass_name+`</td>`+`
                    <td>`+tclass_id+`</td>`+`
                    <td><a href='`+link+`'><button type="button" class="btn btn-warning">Edit Class</button></a></td>`+`
                    <td>`+tclass_capacity+`</td>
                  </tr>` 
              }
            }
          
        },
        updateTrainerName: async function() {
          this.trainer_name = "None"
          let trainer_id = this.trainer_id
          if (trainer_id != ""){
            let url = "http://localhost:5000/trainers/getTrainerName?trainer_id=" + trainer_id
            const response = await fetch(url, {method: "GET"});

            if(!response.ok){
              console.log("Error in retrieving Trainer Name")
            }
            else {
              const data = await response.json();
              this.trainer_name = data["trainer_name"]
            }
          }
        }
      },
      created: function() {
        this.updateTrainerName();
        this.getClassDetails();
      }
    });
  </script>
  
  
</body>
</html>